nav {
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.navS {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navS1 {
    background-color: yellow;
}
.navP1 {
    padding: 0 20px;
}

#navS2 {
    background-color: blue;
}
.navP2 {
    padding: 0 60px;
}

