nav {
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.navS {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navS1 {
    background-color: yellow;
}

.navH1 {
    padding: 0 20px;
}
.navP1 {
    margin: 0 10px;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

#navS2 {
    background-color: blue;
}
.navP2 {
    padding: 0 60px;
}

.container1 {
    display: flex;
    justify-content: center;
}
.checklist {
    background-color: pink;
    width: 20%;

}

.list {
    background-color:aquamarine;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
}